.splashPage-main-div {
    background-color: black;
    min-height: 550px;
    max-height: 950px;
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splashPage-image-div {
    /* padding-top: 30px; */
    margin-top: 30px;
    height: 75%;
    width: 90%;
    background-image: url(../../img/splash-main-img.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.splashPage-text-bottom {
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    height: 100%;
}