.liveAnywhere {

}

.liveAnywhere__header{
    font-size: 32px;
}

.liveAnywhere__images {
    display: flex;
    padding: 5px;
    font-size: 18px;
    justify-content: space-around;
    
}

.liveAnywhere__images--img img {
    border-radius: 5%;
    height: 362px;
    width: 362px;
    
}