.exploreNearby__header{
    font-size: 32px;
}

.exploreNearby__small-images {
    display: flex;
    padding: 5px;
    font-size: 18px;
    
}

.exploreNearby__small-images img {
    border-radius: 5%;
    height: 64px;
    width: 64px;
}

.exploreNearby__small-images--descriptive-text{}

#exploreNearby__small-images--descriptive-text--city{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;

}

#exploreNearby__small-images--descriptive-text--time{
    font-size: 14px;
    padding: 10px;
    
}