/* needs to be edited!

.exploreNearby-main-div {
    background-color: white;
    min-height: 550px;
    max-height: 950px;
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.splashPage-image-div {
    /* padding-top: 30px; */
    /* margin-top: 30px;
    height: 75%;
    width: 90%; */
    /* background-image: url(../../img/splash-main-img.webp); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
}

.exploreNearby-title-text {
    color: black; */
    /* display: flex;

    justify-content: flex-start;
    align-items: flex-end;
    /* height: 10%; */
    /* font-size: 36px; */
/* } */
/* 
.splashPage-text-bottom span{
    font-size: 24px;
}

#to-do-list {
    color: red;
} */